/*General Definations*/
//$baseHref: '//armine.proj-e.com';
$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1620px;
$siteContainerWidthMiddle: 940px;
$siteContainerWidthFull: 100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);
$bold: "bold";
$sBold: "sBold";
$regular: "regular";
$medium: "medium";
$dRegular: "dRegular";
$dItalic: "dItalic";
$tl:"tl";

$ltSpace:2px;

/*New colors*/
$gold: #d9b993;
$gray3:#87888e;
$lGray:#f6f7f9;
$lDark:#3f434f; 
$darkBlack:#3f434f;

/*Site Colors*/
$ffYellowL:#ffe000;
$fdYellow:#fdde00;
$btnColor: #f05201;
$btnAlternateColor:#00579c;
$edGray:#ededed;
$eGray:#ecedee;
$border:#ecedee;
$fbBtnColor:#565ecf;
$inputborder:#ecedee;